@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
  background: #191818;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  word-wrap: break-word !important;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/*nav*/


/* Estilos para el hover de los elementos de la lista */
.navbar-nav .nav-item .nav-link:hover {
  background-color: #4e8cf6; /* Cambio de color a rojo más claro en hover */
  color: #fff; /* Cambio de color de texto a blanco en hover */
}

/* Estilos para el dropdown (menú desplegable) */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  background-color: #4e8cf6; /* Color de fondo del dropdown en hover */
}

/* Estilos para los elementos del dropdown en hover */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
  background-color: #4e8cf6; /* Cambio de color a rojo más claro en hover del dropdown */
  color: #fff; /* Cambio de color de texto a blanco en hover del dropdown */
}

.btn-xl {
  padding: 20px 40px;
  border-color: #1ee2e7;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #1ee2e7;
}

.btn-xl {
  border-color: #17d0d5;
  color: #fff;
  background-color: #17d0d5;
}


/*header*/


header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../resource/1.webp);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media(min-width:768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }

  .btn-xl {
    padding: 20px 40px;
    border-color: #1ee2e7;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
  }

  .btn-xl {
    border-color: #17d0d5;
    color: #fff;
    background-color: #17d0d5;
  }

  /* img*/
  .img {
    background-color: #28252587;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
    /* Ajusta el tamaño al contenido */
    padding: 10px;
    /* Espacio de 2px alrededor de la imagen */
    margin: 10px;
    /* Margen alrededor de la tarjeta */
  }

  .img img {
    max-width: 100%;
    /* Asegura que la imagen no sobrepase el ancho de la tarjeta */
    height: auto;
    border-radius: 8px;
    /* Agrega bordes redondeados a la imagen */
  }

  .cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
  }
}